 
<br>
<div class="row">
    <div class="col-xl-4 text-xs-center">
                <button type="button" class="btn btn-lg btn-success">Phenix online</button>
    
    </div>
    <div class="col-xl-4 text-xs-center">
    
                <button type="button" class="btn btn-lg btn-success">Phenix offline</button>
        
    </div>
    <div class="col-xl-4 text-xs-center">
 
                <button type="button" class="btn btn-lg btn-success">Phenix infra</button>
    </div>
</div>
 <br>
 <!--<div class="col-lg-8">
         <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                </div>
            </div>
        </li>
         </ul>
    </div>-->
    <!-- /.col-lg-8 -->
<br>
<div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
    <legend style="color:black;font-weight:bold;">Phenix offline</legend>
<div class="row">
    <div class="col-md-4 text-xs-center">
                 <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Servers</h4>
                </div>
                <div class="timeline-body">
                    <div class="etat"><p class="btn btn-link" style="margin-left: 5%;"> <a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Server 1 </a> <i class="fa" style="z-index: 100;position: absolute;top: 21%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                    <div class="etat"><p class="btn btn-link" style="margin-left: 5%;"><a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Server 2 </a> <i class="fa" style="z-index: 100;position: absolute;top: 40%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                    <div class="etat"><p class="btn btn-link" style="margin-left: 5%;"><a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Server 3 </a> <i class="fa" style="z-index: 100;position: absolute;top: 60%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                    <div class="etat"><p class="btn btn-link" style="margin-left: 5%;"><a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Server 4 </a> <i class="fa" style="z-index: 100;position: absolute;top: 77%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                </div>
            </div>
        </li>
         </ul>
    </div>
    <div class="col-md-4 text-xs-center">
    
                <ul class="timeline">
        <li>
            <div class="timeline-badge-midd"><i class="fa fa-warning"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Middelwares</h4>
                </div>
                <div class="timeline-body">
                    <div class="etat"><p class="btn btn-link"> <a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']"> Middelware 1 </a> <i class="fa" style="z-index: 100;position: absolute;top: 21%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:orange;"></i></p></div>
                    <div class="etat"><p class="btn btn-link"> <a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Middelware 2 </a> <i class="fa" style="z-index: 100;position: absolute;top: 40%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                    <div class="etat"><p class="btn btn-link"> <a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Middelware 3 </a> <i class="fa" style="z-index: 100;position: absolute;top: 60%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                    <div class="etat"><p class="btn btn-link"> <a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Middelware 4 </a> <i class="fa" style="z-index: 100;position: absolute;top: 77%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                </div>
            </div>
        </li>
         </ul>
        
    </div>
<div class="col-md-4 text-xs-center">
 <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title" >Softwares</h4>
                </div>
                <div class="timeline-body">
                    <div class="etat"><p class="btn btn-link"><a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Software 1 </a> <i class="fa" style="z-index: 100;position: absolute;top: 21%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                    <div class="etat"><p class="btn btn-link"><a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Software 2 </a> <i class="fa" style="z-index: 100;position: absolute;top: 40%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                    <div class="etat"><p class="btn btn-link"><a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Software 3 </a> <i class="fa" style="z-index: 100;position: absolute;top: 60%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                    <div class="etat"><p class="btn btn-link"><a [routerLink]="['/alerts']" [routerLinkActive]="['router-link-active']">Software 4 </a> <i class="fa" style="z-index: 100;position: absolute;top: 77%;left: 30%;width: 20px;height: 20px;margin-left: 30%;border-radius: 50% 50% 50% 50%;text-align: center;font-size: 1.4em;line-height: 10px;color: #fff;background-color:green;"></i></p></div>
                </div>
            </div>
        </li>
         </ul>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xl-4 text-xs-center">
        <div class="card card-default">
            <div class="card-block" style="-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);box-shadow: 0 1px 6px rgba(0,0,0,0.175);">
                <chart type="StockChart" [options]="options"></chart>
            </div>
        </div>
    </div>
<div class="col-xl-4 text-xs-center">
        <div class="card card-default">
            <div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
                <chart type="StockChart" [options]="result"></chart>
            </div>
        </div>
    </div>
<div class="col-xl-4 text-xs-center">
    <div class="card mb-4 text-center" style="-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);box-shadow: 0 1px 6px rgba(0,0,0,0.175);">
         Disk Storage
        
             <canvas baseChart style="height:416px;" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        
    </div>
 </div>
</div>