 <div class="row">
    <div class="col-xl-4 text-xs-center">
        <div class="card card-default">
            <div class="card-block">
                <chart type="StockChart" [options]="options"></chart>
            </div>
        </div>
    </div>
<div class="col-xl-4 text-xs-center">
        <div class="card card-default">
            <div class="card-block">
                <chart type="StockChart" [options]="result"></chart>
            </div>
        </div>
    </div>
<div class="col-xl-4 text-xs-center">
        <div class="card card-default">
            <div class="card-block">
                <chart type="StockChart" [options]="option"></chart>
            </div>
        </div>
    </div>
  