<div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);background-color: #F2F2F2">
<legend style="color:black;font-weight:bold;">Bastion</legend>
<div class="row">
</div>

<div class="row">
  <!-- First Card -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
        <div id="containerDisk" style="height: 400px"></div>
        <div class="card card-default">
            <div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
                <div id="ramcontainer" style="height: 400px; min-width: 300px"></div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-block" style="-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);box-shadow: 0 1px 6px rgba(0,0,0,0.175);">
                  <div id="container" style="height: 400px; min-width: 300px"></div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second card -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
        <h3 class="card-title" style="color:black;font-weight:bold;">Liste des Alertes</h3>



   <!-- First alert -->
        <div class="card card-outline-danger">
        <h3 class="card-header alert-critical">Critical</h3>
        <div class="card-block">
         <h4 class="card-title">Alerte SSH </h4>
		

        	
        <div class="card-tex"><strong>Objet:</strong>Connexion SSH<br><strong>Utilisateur:</strong>root </div><br>
        
	<button type="button" class="btn btn-secondary">Acknowledge</button>
		<!-- seen by "Web App" -->

</div>
</div>
</div>
</div>
</div>
</div>
</div>



