#


# Config file for collectd(1).


# Please read collectd.conf(5) for a list of options.


# http://collectd.org/


#





##############################################################################


# Global #


#----------------------------------------------------------------------------#


# Global settings for the daemon. #


##############################################################################





Hostname "{{ inventory_hostname }}"


FQDNLookup true


#BaseDir "/usr/var/lib/collectd"


#PIDFile "/usr/var/run/collectd.pid"


#PluginDir "/usr/lib/collectd"


#TypesDB "/usr/share/collectd/types.db"


Interval 10


Timeout 2


ReadThreads 5





##############################################################################


# Logging #


#----------------------------------------------------------------------------#


# Plugins which provide logging functions should be loaded first, so log #


# messages generated when loading or configuring other plugins can be #


# accessed. #


##############################################################################





LoadPlugin syslog
<Plugin syslog>
LogLevel info
</Plugin>





##############################################################################


# LoadPlugin section #


#----------------------------------------------------------------------------#


# Lines beginning with a single `#' belong to plugins which have been built #


# but are disabled by default. #


# #


# Lines begnning with `##' belong to plugins which have not been built due #


# to missing dependencies or because they have been deactivated explicitly. #


##############################################################################





LoadPlugin cpu


#LoadPlugin df


LoadPlugin disk


#LoadPlugin entropy


#LoadPlugin interface


#LoadPlugin load


#LoadPlugin memory


#LoadPlugin network


#LoadPlugin processes


#LoadPlugin uptime


#LoadPlugin users


#LoadPlugin python








##############################################################################


# Plugin configuration #


#----------------------------------------------------------------------------#


# In this section configuration stubs for each plugin are provided. A desc- #


# ription of those options is available in the collectd.conf(5) manual page. #


##############################################################################





#<Plugin disk>
#    Disk "hda"
#    Disk "/sda[23]/"
#    IgnoreSelected false
#</Plugin>




<Plugin disk>
	Disk "/^[hs]d[a-f][0-9]?$/"
	IgnoreSelected false
</Plugin>

#LoadPlugin load
#<Plugin load>
#       ReportRelative true
#</Plugin>



<Plugin "cpu">


ValuesPercentage true


ReportByCpu false


</Plugin>







#LoadPlugin disk
#<Plugin disk>
#Disk "vda"

#IgnoreSelected false
#UseBSDName false
#UdevNameAttr "DEVNAME"
#</Plugin>

#<Plugin "disk">


#Disk "/^dm/"


#IgnoreSelected true


#</Plugin>

LoadPlugin network
<Plugin network>
    <Server "0.0.0.0" "{{ logstash_collectd_port }}">
    </Server>
</Plugin>



#LoadPlugin "aggregation"

#<Plugin "aggregation">
# <Aggregation>
  #  Plugin "cpu"
  #  Type "cpu"
  # GroupBy "Host"
   # GroupBy "TypeInstance"
   # CalculateAverage true
 #</Aggregation>
#</Plugin>

Include "/etc/collectd.d"
