
<div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);background-color: #F2F2F2">
<legend style="color:black;font-weight:bold;">Bastion</legend>
<div class="row">  
</div>
<br><br>
<div class="row"> 
  
</div>


<div class="row">
  <!-- First Card -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
        <div id="containerDisk" style="height: 400px"></div>
        <div class="card card-default">
            <div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
                <div id="ramcontainer" style="height: 400px; min-width: 300px"></div>
            </div>
        </div>
   
  
        <div class="card card-default">
            <div class="card-block" style="-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);box-shadow: 0 1px 6px rgba(0,0,0,0.175);">
                  <div id="container" style="height: 400px; min-width: 300px"></div>
            </div>
        </div>
    
      </div>
    </div>
  </div>


<!-- Second card -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
        <h3 class="card-title" style="color:black;font-weight:bold;">Liste des Alertes</h3>

    

   <!-- Second alert -->
        <div class="card card-outline-danger">
        <h3 class="card-header alert-critical">Critical</h3>
        <div class="card-block">
         <h4 class="card-title">Alerte SSH</h4>
        <p class="card-text">Alerte connexion SSH </p>
</div>
        </div>
        <br>



  <!-- First alert -->
        <div class="card card-outline-warning">
        <h3 class="card-header alert-warning">Warning</h3>
        <div class="card-block">
         <h4 class="card-title">Alerte SSH</h4>
  
     
   <p class="card-text" *ngFor="let item of chartSshDatao">Alerte Connexion SSH

    <br>
      {{item}} </p>
        </div>


        </div>



      
      </div>
    </div>
  </div>
</div>








