# ======================== Elasticsearch PHENIX Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please see the documentation for further information on configuration options:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html>
#
# ---------------------------------- Cluster Configurations-----------------------------------
#
# Use name and unicast for cluster:
#
cluster.name: {{ es_cluster_name }}

node.name: {{ private_hostname }}
discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.unicast.hosts: [{% set comma = joiner(",") %}{% for host in play_hosts %}{{ comma() }}"{{ host }}"{% endfor %}]

node.rack_id: {{ hostvars[inventory_hostname].rack }}
cluster.routing.allocation.awareness.attributes: rack_id

########### PATH #####################
# DATA
{% if inventory_hostname not in es_clients %}
path.data: {% set comma = joiner(",") %}{% for path in es_data_dir %}{{ comma() }}{{ path }}{% endfor %}
{% endif %}

# LOGS

path.logs: {{ es_logs_dir }}

# ---------------------------------- Network -----------------------------------
#
# Set the bind adress to a specific IP (IPv4 or IPv6):
#
network.bind_host: 0.0.0.0
network.publish_host: {{ inventory_hostname }}
#
# ---------------------------------- Index -----------------------------------
#
index.mapper.dynamic: {{ index_mapper_dynamic }}

index.number_of_replicas: {% if play_hosts|length - es_clients|length == 1 %} 0 {% else %} {{ es_number_replicas }} {% endif %}

{% if inventory_hostname in es_clients %}
node.data: false
node.master: false
{% endif %}

# disable delete all indices
action.disable_delete_all_indices: true

# bulk configuration
threadpool.bulk.queue_size: {{ play_hosts|length * 2 * 100 }}

# Disable refresh
index.refresh_interval: {{ es_refresh_interval }}

action.auto_create_index: true

{% if xpack_version is defined %}
# x-pack (ES 5.x required, includes shield, marvel, graph, watcher)
xpack.security.enabled: {{ elastic_xpack_security }}
xpack.monitoring.enabled: {{ elastic_xpack_monitoring }}
xpack.graph.enabled: {{ elastic_xpack_graph }}
xpack.watcher.enabled: {{ elastic_xpack_watcher }}
{% else %}
{% if shield_version is defined %}
# shield
#action.auto_create_index: .security
shield:
  authc:
    realms:
      ldap1:
        type: ldap
        order: 0
        url: "ldap://bastion:389"
        bind_dn: "cn=admin,cn=Users,dc=trainees,dc=ddns,dc=net"
        bind_password: "{{ vault_ldap_admin_pw }}"
        user_search:
          base_dn: "cn=Users,dc=trainees,dc=ddns,dc=net"
          attribute: cn
        group_search:
          base_dn: "cn=Users,dc=trainees,dc=ddns,dc=net"
{% endif %}

{% if marvel_version is defined %}
# marvel
#marvel.agent.cluster.state.timeout: 10m
#marvel.agent.cluster.stats.timeout: 10m
#marvel.agent.indices
#marvel.agent.index.stats.timeout: 10m
#marvel.agent.indices.stats.timeout: 10m
#marvel.agent.exporters
#marvel.agent.index.recovery.active_only
#marvel.agent.index.recovery.timeout
#marvel.agent.interval
#marvel.history.duration  default 7d
{% endif %}
{% endif %}
