.main-container{
    margin-top: 60px;
    margin-left: 235px;
<<<<<<< HEAD
    padding: 0px;
=======
    padding: 15px;
>>>>>>> 4c2ee4987027b63ad242dab14da597655c24ad03
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
