# LogRotate for {{ item.name }}
# this file is {{ ansible_managed }}

"{{ item.path }}" {
  {% if item.options is defined -%}
  {% for option in item.options -%}
  {{ option }}
  {% endfor -%}
  {% endif %}
  {%- if item.scripts is defined -%}
  {%- for script in item.scripts -%}
  {{ script.name }}
    {{ script.script }}
  endscript
  {% endfor -%}
  {% endif -%}
}
