
<div class="row">  
</div>

<div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
<legend style="color:black;font-weight:bold;">Liste des Alertes</legend>
<br>

<div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
<div _ngcontent-c5 class="card-header card-default"> Alerte n°1
<div class="label label-danger pull-right"><i class="fa fa-calendar"> 8 Juin </i></div>  
</div>
<div _ngcontent-c5 class="card-block"> <strong>Objet :</strong> première alerte </div>
</div>
<br>


<div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
<div _ngcontent-c5 class="card-header card-default"> Alerte n°2 
<div class="label label-warning pull-right"><i class="fa fa-calendar"> 6 Juin </i></div>  
</div>
<div _ngcontent-c5 class="card-block"> <strong>Objet :</strong> Description deuxième alerte </div>
</div>
<br>


<div class="card-block" style="-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.175);box-shadow: 0 3px 9px rgba(0,0,0,0.175);">
<div _ngcontent-c5 class="card-header card-default"> Alerte n°3 
<div class="label label-warning pull-right"><i class="fa fa-calendar"> 6 Juin </i></div>  
</div>
<div _ngcontent-c5 class="card-block"> <strong>Objet :</strong> Description troisième alerte </div>
</div>
<br>


<div class="row">   
</div>
